html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  background: linear-gradient(45deg, #020201, #8f7498, #b3467b);
  animation: gradient 10s ease infinite;
  background-size: 400% 400%;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

header,
footer,
section {
  padding: 64px 0;
}

header {
  background-image: url(/img/bg-header.png);
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
}

.container-nav {
  font-size: 18px;
  font-weight: 700;
}

.logo {
  font-size: 32px;
  letter-spacing: 3px;
  line-height: 20px;
}

.row-nav {
  text-shadow: -2px 1px 6px #493153;
  margin: 0 auto;
}

.container-title {
  margin-top: 198px;
}

.row-title {
  text-shadow: -2px 1px 6px #493153;
  margin: 200px auto;
}

.col-title {
  margin: 0 auto;
}

.line-text {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 72px; */
}

.line-horizontal {
  width: 72px;
  height: 2px;
  background-color: #fbd784;
  margin-right: 15px;
}

.text {
  color: #fbd784;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 3px;
  margin: 0 32px;
}

.text-main {
  font-family: "Gentium Basic", serif;
  font-weight: 400;
  font-size: 88px;
}

.scroll {
  display: inline-flex;
  margin: 5px;
  /* margin-left: 72px; */
}

/* Section01 */
.line-vertical {
  width: 3px;
  height: 240px;
  background-color: #fff;
  padding: 0;
}

.img01 {
  background-image: url(/img/01.png);
  background-position: center center;
  background-repeat: no-repeat;
  height: 720px;
  width: 420px;
  background-size: cover;
}

/* .row01 .row02 .row03 { 
  text-shadow: -2px 1px 6px #493153; 
  
} */

.lvl-hiking-text {
  font-family: Gentium Basic, serif;
  font-weight: 400;
  font-size: 64px;
}

.text-arrow-gold {
  color: #fbd784;
  display: inline-flex;
  margin: 5px;
}

.img02 {
  background-image: url(/img/02.png);
  background-position: center center;
  background-repeat: no-repeat;
  height: 720px;
  background-size: cover;
  width: 420px;
}

.img03 {
  background-image: url(/img/03.png);
  background-position: center center;
  background-repeat: no-repeat;
  height: 720px;
  background-size: cover;
  width: 420px;
}
.more-main {
  display: inline-flex;
}
