html,
body {
  height: 100%;
}

* a {
  text-decoration: none;
  color: #fff;
}

* a:hover,
.arrow-down path:hover {
  color: #fbd784;
  transition: all 0.5s ease 0s;
  fill: #fbd784;
}

section,
header {
  min-height: 937px;
}

body,
section,
footer {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  background: linear-gradient(45deg, #020201, #8f7498, #b3467b);
  animation: gradient 10s ease infinite;
  background-size: 400% 400%;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

header,
footer,
section {
  padding: 50px 0;
}

header {
  background-image: url(/img/bg-header.png);
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
}

.container-nav {
  font-size: 18px;
  font-weight: 700;
}

.logo {
  font-size: 45px;
  letter-spacing: 3px;
  line-height: 20px;
}

.row-nav {
  text-shadow: -2px 1px 6px #493153;
  margin: 0 auto;
}

.account__btn {
  cursor: pointer;
}

.account__btn:hover {
  color: #fbd784;
  transition: all 0.5s ease 0s;
}

.follow {
  display: inline-block;
  transform: rotate(90deg);
  position: relative;
  top: -40px;
  left: -25px;
}

.instagram-img:hover {
  fill: #fbd784;
}

.twitter-img:hover {
  fill: #fbd784;
}

.container-title {
  margin-top: 198px;
}

.row-title {
  text-shadow: -2px 1px 6px #493153;
  margin: 200px auto;
}

.col-title {
  margin: 0 auto;
}

.line-text {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.line-horizontal {
  width: 72px;
  height: 2px;
  background-color: #fbd784;
  margin-right: 15px;
}

.text {
  color: #fbd784;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 3px;
  margin: 0 32px;
}

.text-main {
  font-family: 'Gentium Basic', serif;
  font-weight: 400;
  font-size: 88px;
}

.scroll {
  display: inline-flex;
  margin: 5px;
}

/* Section01 */
.row01 {
  position: relative;
}

.all-text02 {
  position: relative;
}

#read_more {
  display: none;
}

.bg-number01 {
  position: absolute;
  font-size: 240px;
  color: rgba(233, 235, 228, 0.267);
  top: 50px;
  left: -50px;
}

.bg-number02 {
  position: absolute;
  font-size: 240px;
  color: rgba(233, 235, 228, 0.267);
  top: -163px;
  left: -3px;
}

.bg-number03 {
  position: absolute;
  font-size: 240px;
  color: rgba(233, 235, 228, 0.267);
  top: 25px;
  left: -50px;
}

.text-arrow-gold:hover {
  color: #fff;
}

.arrow-right:hover {
  fill: #fff;
}

.row03 {
  position: relative;
}

.line-text {
  position: relative;
}

.line-horizontal {
  position: relative;
}

.lvl-hiking-text {
  position: relative;
}

.line-vertical {
  width: 3px;
  height: 240px;
  background-color: #fff;
  padding: 0;
}

.img01 {
  background-image: url(/img/01.png);
  background-position: center center;
  background-repeat: no-repeat;
  height: 720px;
  background-size: cover;
}

.lvl-hiking-text {
  font-family: Gentium Basic, serif;
  font-weight: 400;
  font-size: 64px;
}

.text-arrow-gold {
  color: #fbd784;
  display: inline-flex;
  margin: 5px;
}

.img02 {
  background-image: url(/img/02.png);
  background-position: center center;
  background-repeat: no-repeat;
  height: 720px;
  background-size: cover;
}

.img03 {
  background-image: url(/img/03.png);
  background-position: center center;
  background-repeat: no-repeat;
  height: 720px;
  background-size: cover;
}

.logo-second {
  font-size: 32px;
  letter-spacing: 3px;
}

.copyright {
  margin-top: 135px;
  font-family: 'Raleway', sans-serif;
  color: #3f1456;
}

.more-main {
  display: inline-flex;
  justify-content: space-between;
}

.more-main a {
  font-family: 'Raleway', sans-serif;

  text-decoration: none;
  color: #3f1456;
}

.more-main a:hover {
  color: #fff;
}

.more01 h6 {
  color: #fbd784;
  font-size: 24px;
}

.more02 h6 {
  color: #fbd784;
  font-size: 24px;
}

.scroll-up {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 1000;
  width: 50px;
  height: 50px;
  color: rgba(233, 235, 228, 0.267);
  cursor: pointer;
  border-radius: 50px;
  visibility: hidden;
  box-shadow: inset 0 0 0 4px #dcdcdc;
  opacity: 0;
  transition: 0.2s;
  transform: translateY(25px);
}

.scroll-up::before {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  content: '↑';
}

.scroll-up:hover {
  color: #ffc02e;
}

.scroll-up--active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.scroll-up__svg-path {
  box-sizing: border-box;
  fill: none;
  stroke: #ffc02e;
  stroke-width: 4px;
  transition: 0.2s;
}

.slider {
  width: 360px;
  height: 640px;
  margin: 30px auto;
  overflow: hidden;
}

.slider-line {
  height: 640px;
  width: 1440px;
  display: flex;
  position: relative;
  left: 0;
  transition: all ease 1s;
  font-size: 0;
}

.text-clothes {
  color: #fbd784;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 3px;
}

/* Tabs */

.row05 {
  display: flex;
  position: relative;
}

.tabcontent img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tabcontent__descr {
  position: absolute;
  background-color: rgba(59, 127, 131, 0.267);
  width: 600px;
  font-size: 25px;
  right: 110px;
  bottom: -100px;
}

.tabheader h3 {
  font-size: 40px;
}

.tabheader__items {
  margin-top: 35px;
  padding-left: 26px;
  border-left: 1px solid #fbd784;
}

.tabheader__item {
  font-weight: 700;
  font-size: 18px;
  font-weight: 300;
  margin-top: 10px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s all;
}
.tabheader__item_active {
  color: #fbd784;
  font-size: 30px;
  font-weight: 700;
}

/* Modal */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal__dialog {
  max-width: 500px;
  margin: 40px auto;
}
.modal__content {
  position: relative;
  width: 100%;
  padding: 40px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  max-height: 80vh;
  overflow-y: auto;
}
.modal__close {
  position: absolute;
  top: 8px;
  right: 14px;
  font-size: 30px;
  color: #000;
  opacity: 0.5;
  font-weight: 700;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.modal__title {
  color: #3f1456;
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
}
.modal__input {
  display: block;
  margin: 20px auto 20px auto;
  width: 280px;
  height: 50px;
  background: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border: none;
  font-size: 18px;
  text-align: center;
  padding: 0 20px;
  outline: 0;
}
.modal .btn {
  display: block;
  width: 280px;
  margin: 0 auto;
}

.btn_login {
  border: 5px solid #ffc02e;
  border-radius: 6px;
  font-size: 18px;
  background-color: #fbd784;
}

.btn_login:hover {
  background-color: #ffc02e;
  transition: all 0.5s ease 0s;
  width: 300px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

/* Акция */

.title_promo {
  font-weight: 400;
  font-size: 64px;
  color: #ffc02e;
}

.order {
  padding-bottom: 80px;
}
.title_promo {
  text-align: center;
}
.order__form {
  margin-top: 70px;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order__form img {
  transform: scale(1.5);
}
.order__input {
  width: 280px;
  height: 50px;
  background: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border: none;
  font-size: 18px;
  text-align: center;
  padding: 0 20px;
  outline: 0;
}

.btn_promotion {
  width: 220px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffc02e;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s all;
  outline: 0;
}

.btn_promotion:hover {
  background-color: #ffc02e;
  width: 250px;
  transition: all 0.5s ease 0s;
}

.divider {
  display: none;
  height: 1px;
  margin: 100px auto;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Timer */

.promotion {
  padding: 70px 0 240px 0;
  position: relative;
}
.promotion .container {
  display: flex;
}
.promotion .bgc_y {
  position: absolute;
  width: 50%;
  height: 499px;
  background: rgba(243, 255, 222, 0.35);
  z-index: -1;
  top: -50px;
  left: 0;
}

.title {
  margin-top: 50px;
  font-weight: 400;
  font-size: 64px;
  color: #fbd784;
}
.promotion__text {
  width: 50%;
}
.promotion__descr {
  margin-top: 40px;
  font-size: 18px;
}
.promotion__descr span {
  color: #fbd784;
  font-weight: 700;
  font-size: 30px;
}
.promotion__timer {
  width: 50%;
}
.promotion__timer .title {
  text-align: right;
  font-size: 25px;
}
.promotion__timer .timer {
  margin-top: 60px;
  padding-left: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.promotion__timer .timer__block {
  width: 120px;
  height: 210px;
  background: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  font-size: 25px;
  color: #3f1456;
  text-align: center;
}
.promotion__timer .timer__block span {
  color: #ffc02e;
  display: block;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 86px;
  font-weight: 700;
}

/* Menu */

.menu {
  padding: 40px 0 50px 0;
}
.menu .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.menu .title {
  text-align: center;
}
.menu__field {
  margin-top: 50px;
  padding: 50px 0;
  width: 100%;
  /* background: rgba(249, 254, 126, 0.25); */
}
.menu__item {
  width: 320px;
  min-height: 450px;
  background-color: #8f7498;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-weight: 300;
}
.menu__item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.menu__item-subtitle {
  color: #ffc02e;
  font-weight: 700;
  font-size: 25px;
  margin-top: 20px;
  padding: 0 20px;
}
.menu__item-descr {
  font-weight: 700;
  margin-top: 20px;
  width: 299px;
  padding: 0 20px;
}
.menu__item-price {
  font-size: 22px;
  color: #fbd784;
  margin-top: 10px;
  background-color: #8f7498;
  padding: 20px 20px;
}
