html, body {
    height: 100%;
}


body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(45deg, #0F2027, #203A43, #2C5364);
    animation: gradient 10s ease infinite;
    background-size: 400% 400%;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

header, footer, section {
    padding: 64px 0;
}

header {
    background-image: url(/img/bg-header.png);
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
}

.container-title {
    margin-top: 90px;
}

.line-horizontal {
    width: 72px;
    height: 2px;
    background-color: #FBD784;
}


.line-vertical {
    width: 3px; 
    height: 240px;
    background-color: #fff;
    
   
}